@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/

/* content */
.content_resize { 
	margin:0 auto; 
	padding:16px 0 24px; 
	width:970px; 
	background-color:#fff; 
	border:1px solid #91b0be;
}

.content .mainbar{
    margin:0; padding:0; 
    float:left; 
    width:650px;
}
.content .mainbar .article {
    padding:0px 20px 0;
    height:280px;
    width:600px;
}

.content .mainbar .article:first-child{
	height:360px;
}
.content img{
	float:left;
}
.content h3{
	color:#136dc0;
	font-family:"微软雅黑";
	padding-bottom:20px;
}
.content .mainbar img { border:1px solid #d8dbdc;}
.content .mainbar .device{
	width: 900px;
}
.content .mainbar .article ul{
	width:900px;
	height:300px;
}

.content .mainbar .article ul li{
	border-bottom:1px dotted #c8c8c8;
	height:40px;
	width:920px;
}
.content .mainbar .article ul li a{
	font-size:14px;
	color:#1e1e1e;
	float:left;
	line-height:40px;
}
.content .mainbar .article ul li a:hover{
	text-decoration:underline;
}
.content .mainbar .article h3{
	float:left;
	margin-left: 8px;
}
.content .mainbar .article img{
	border: none;
	margin-top: 2px;
}
.content .mainbar .article .more{
	float:right;
	font-size:14px;
}
.content .mainbar .article .more:hover{
	text-decoration:underline;
}
.content .mainbar .article span{color:red;font-size:14px;}
.content .mainbar .article p{
	line-height:40px;
	float:right;
	margin-right:0px;
}
.content .mainbar .article ul li p a{
	color:#0198fd;
}
#tagbox{
	position:relative;
	margin:20px auto 0px;
	width:380px;height:250px;
	margin-left: 240px;
   }
#tagbox a{
	position:absolute;
	padding:4px 6px;
    color:#2a83d3;
    font-weight:bold;
    text-decoration:none;
    left:0px;
 }
#tagbox a:hover{border:#eee 1px solid; background: rgba(0,0,0,0.2)}
#tagbox .blue{color:#572f5b}
#tagbox .red{color:red}
#tagbox .yellow{color:#f8bb01}
.content .sidebar{ 
	float:right;
	margin-right:30px; 
	width:290px;
}
.content .sidebar img{
	margin:3px 6px 0 0;
}
.content .sidebar .today{
	width:300px;
	height:266px;
	background:#f5f5f5;
	margin-bottom:50px;
	border-radius:8px;
}
.content .sidebar .today .today_in{
	width:266px;
	height:260px;
	margin:0 auto;
	padding-top:14px;
}
.content .sidebar .today .today_in img{float:left;}
.content .sidebar .today .today_in p{
	float:left;
	margin:0px 20px 8px 6px;
	font-size:14px;
}
.content .sidebar .today .today_in .blue{ color:#5076af;}
.content .sidebar .today .today_in .red{color:#990000;}
.content .sidebar .today .today_in .radius{
	width:80px;
	height:60px;
	border-radius:10px;
	background:#fff;
	margin:6px 10px 4px 0;
	float:left;
}
.content .sidebar .today .today_in .radius:nth-child(4n){
	margin-right:0;
}
.content .sidebar .today .today_in .radius:hover{
	box-shadow:3px 3px 4px rgba(0,0,0,0.5);
}
.content .sidebar .today .today_in .radius p{
	width:70px;
	text-align:center;
	padding-top:6px;
	color:#666;
}
.content .sidebar .today .today_in .number{
	font-size:12px;
}
.content .sidebar .today .today_in .number:hover{
	font-weight:bold;
	text-decoration:underline;
}
.content .sidebar .today .today_in .left-num{
    color:#5076af;
    padding:0px 8px 0 12px;
    float:left;
}
.content .sidebar .today .today_in .right-num{
	color:#990000;
	float:right;
	margin-right:8px;
}
.content .sidebar .gadget{
   margin:0 0 12px; 
   padding:8px 0px 8px 0px;
}
.content .sidebar .gadget h3{
	float:left;
}
.content .sidebar .gadget .more{
	float:right;
	font-size:14px;
}
/*login样式*/
.login-main{
	width: 100%;
	height: auto;	
	background: #4488a7 url(../img/main.jpg) no-repeat center;
}
.index-background{
	min-height: 800px;
    padding-bottom: 0px;
    width: 100%;
	background:  url("../img/splash-background.svg") repeat scroll 0 0 / 100% 100%;
}
.login-main .header .header_resize{
	width: 300px;
	margin:0 auto;

}
.login-main .content{
	height: 300px;
	width: 100%;
	height: 540px;
}
.login-main .content .content_in{
	height: 360px;
	width: 540px;
	margin:0 auto;
	border-radius: 8px;
	background: rgba(255,255,255,0.4);
	box-shadow: 3px 3px 2px rgba(0,0,0,0.3)
}
.login-main .content .content_in .top{
	height: 60px;
	width: 560px;
}
.login-main .content .content_in .top p{
	font-size: 24px;
	color: #4779a7;
	text-align: center;
	padding:30px 0;

}
.login-main .content .content_in .con{
	width: 350px;
	height: 330px;
	margin:0 auto;
	margin-top: 20px; 
}
.login-main .content .content_in .con input[type="text"] ,input[type="password"]{
	width: 360px;
	height: 50px;
	margin-bottom: 20px;
	border:none;
	border-radius: 4px;
}
.login-main .content .content_in .con input[type="checkbox"]{
	width: 16px;
	height: 16px;
}
.login-main .content .content_in .con span{
	color: #0886ad;
	font-size: 14px;
}
.login-main .content .content_in .con a{
	display: block;
	width: 360px;
	height: 50px;
	/* background: #f72ea4; */
	background: #0198fd;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	margin-top: 20px;
}
.login-main .content .content_in .con a:hover{
	background: #0c91ba;
	-webkit-transition:all 0.5s linear;
}




